@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer components{
  .hamburger.close {
    @apply before:rotate-45 before:translate-y-1  after:-rotate-45 after:-translate-y-1;
  }
}

/* @layer base {
  body {
    @apply dark:text-white;
  }

  a {
    @apply dark:text-white rounded;
  }

  img {
    @apply object-cover rounded h-full;
  }
} */

@theme {
  --animate-infinite-typewriter: infiniteTypewriter 6s linear infinite;
  --animate-infinite-type: infiniteType 10s linear infinite;
  --animate-slide-right: slide-right 5s ease-out;
  --animate-wiggle: wiggle 3s ease-in-out infinite;

  @keyframes infiniteTypewriter {
    0% {
      width: 0;
    }
    40% {
      width: 10%;
    }
    60% {
      width: 10%;
    }
    100% {
      width: 0;
    }
  }

  @keyframes infiniteType {
    0% {
      width: 0%;
    }
    40% {
      width: 100%;
    }
    60% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
  }

  @keyframes slide-right {
    from {
      transform: scaleX(0);
      transform-origin: left;
    }
    to {
      transform: scaleX(1);
      transform-origin: left;
    }
  }

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-1deg);
    }
    50% {
      transform: rotate(1deg);
    }
  }
}

.animate-slide-right {
    transform: scaleX(0);
    transform-origin: left;
    animation: none;
}

.section-trigger:hover + div .animate-slide-right {
    animation: slide-right 5s ease-out forwards;
}

.section-trigger:not(:hover) + div .animate-slide-right {
    transition: transform 0.3s ease-out;
}

@layer utilities {
  .fade-in {
    @apply opacity-0 translate-y-10 transition-all duration-700 ease-out;
  }

  .fade-in.show {
    @apply opacity-100 translate-y-0;
  }
}
